/*==============================
=   JavaScript From Scratch - CSS
=   Page: Login and Register
=   File: login-register.css
==============================*/


/*======================================
=   MAIN
======================================*/

main {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-inline: 25px;
    background-color: rgba(21,32,37,0.85);
}

.login__register--section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 710px;
}

.login__register--title {
    width: 100%;
    margin-top: 50px;
    font-size: clamp(2rem, 4vw, 2.5rem);
    text-align: center;
    color: var(--color-primary );
}

.login__register--section p {
    width: 100%;
    margin-top: 10px;
    font-size: 1rem;
    text-align: center;
}

.login__register--main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: 40px;
}

.login__register__form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: clamp(300px, 75vw, 500px);
}

.form__group {
    position: relative;
    width: 100%;
}

.input__wrapper {
    position: relative;
    width: 100%;
}

.toggle__password {
    position: absolute;
    top: 27px;
    right: 12px;
    z-index: 2;
    display: flex;
    align-items: center;
    width: 28px;
    height: 28px;
    padding: 0;
    border: none;
    cursor: pointer;
    background: none;
    transform: translateY(-50%);
}

.toggle__password img {
    width: 22px;
    height: 22px;
    pointer-events: none;
    filter: invert(68%) sepia(92%) saturate(749%) hue-rotate(53deg) brightness(102%) contrast(101%);
}